name: Setup Environment for Copilot Agents
on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

jobs:
  # The job MUST be called `copilot-setup-steps` or it will not be picked up by Copilot.
  copilot-setup-steps:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Setup uv
        uses: astral-sh/setup-uv@v6
        with:
          activate-environment: true
          enable-cache: true
          cache-python: true

      - name: Install dependencies
        run: uv sync --locked --all-groups --all-extras
        
      - name: Checkout LSP MCP server
        uses: actions/checkout@v5
        with:
          repository: isaacphi/mcp-language-server
          path: /home/runner/work/_temp/mcp-language-server
          
      - name: Setup Go
        uses: actions/setup-go@v6

      - name: Install LSP MCP server
        working-directory: /home/runner/work/_temp/mcp-language-server
        run: go build
