name: Setup Environment for Copilot Agents
on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

jobs:
  # The job MUST be called `copilot-setup-steps` or it will not be picked up by Copilot.
  copilot-setup-steps:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Setup Go
        uses: actions/setup-go@v6

      - name: Install LSP MCP server
        run: go install github.com/isaacphi/mcp-language-server@latest

      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Setup uv
        uses: astral-sh/setup-uv@v6
        with:
          activate-environment: true
          enable-cache: true
          cache-python: true

      - name: Install dependencies
        run: uv sync --locked --all-groups --all-extras

      - name: Disallow editing of test_project
        run: git update-index --assume-unchanged test_project/**
