name: Test codes
on:
  push:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Setup uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244
        with:
          activate-environment: true
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked --all-groups --all-extras --no-progress --color never

      - name: Run tests
        run: pytest -rA --no-fold-skipped --showlocals --tb long --fulltrace --junitxml=junit/test-results.xml # --doctest-modules  # TEMP

      - name: Publish Test Results
        if: (!cancelled())
        uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf
        with:
          files: |
            junit/test-results.xml
